@font-face{
    font-family: UTM Alter-Gothic;
    src:url('../Font/utm altergothic/UTM Alter Gothic.ttf');
}
@font-face{
    src:url('../Font/Myriad-Pro/MyriadPro-BlackSemiCn.otf');
    src:url('../Font/Myriad-Pro/MyriadPro-Bold.otf');
    src:url('../Font/Myriad-Pro/Myriad Pro Bold SemiExtended.ttf');
}
html , body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
.header{
    height: 91px;
    width: 100%;
    z-index: 1000;
    position: relative;
}
.all-menu{
    padding-top: 10px;
}
.bbottom{
    height: 101px;
}
.logo img{
    width: 43%;
}

.menu-icon{
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    color: #fff;
    background: #EF6322;
    width: 41px;
    height: 38px;
    border: 1px solid #EF6322;
    border-radius: 4px;
    padding-top: 2px;
}
.menu{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-transform: uppercase;
    margin-top: 22px;
    width: 100%;
    padding: 0;
}

.menu li{
    float: left;
    padding: 0 10px;
    font-size: 21px;
}

.menu li .custom:hover{
    border-bottom: 2px solid #EF6322;
    padding-bottom: 8px;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.down a {
    font-size: 21px;

}
.down img{
    width: 31%;
    padding: 0 5px;
    margin-top: -2px;
    margin-left: 7px;
}
.subnav{
    display: none;
}

.all-language{
    width: 208px;
    height: 25px;
    position: relative;
}

.language img{
    width: 31%;
    padding: 0 5px;
    margin-top: -4px;
    margin-left: 6px;

}
.language:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: 2px;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #352f2f;
}
.menu li:hover .subnav {
    display: block;
}

.down{
    width: 194px;
    list-style: none;
    position: absolute;
    left: 0;
    top: 32px;
}

@media (max-width: 1199px) {
    .menu li {font-size: 19px;}
    .logo img {width: 52%;}
}
@media (max-width: 991px){
    .menu{display: none;}
    .menu-icon { display: block; }
    .logo img {width: 77%;}
    .nav{position: absolute;top: 20px;right: 0;}
}
@media (max-width: 767px){
    .logo img{width: 13%;}
    .nav{position: absolute;top:-54px;right: 0;}
}
@media(max-width: 715px){
    .border-bottom{
        border-bottom:none !important;
    }
}
@media(max-width: 575px){
    .nav {position: absolute;top: -59px;right: 33px;}
}
@media (max-width: 575px){
    .nav {right: 6%;}
}
@media (max-width: 494px){
    .nav {right: 6%;margin-top: 1%;}
}
@media (max-width: 494px){
    .nav {right: 6%;margin-top: 2%;}
}
@media (max-width: 391px){
    .nav {margin-top: 3%;}
}
@media (max-width: 384px){
    .nav {right: 6%;margin-top: 4%;}
}
@media (max-width: 342px){
    .nav {right: 6%;margin-top: 5%;}
}

.banner{
    max-width: 100%;
    max-height: 100%;
    margin-top: -108px;
    display: flex;
    flex-direction: column;
}
.pic-banner{
    width: 100%;
}

/* Dịch Vụ */
#particles-js{
  background: #2E3E51;
  height: 615px;
}

.service{
  position: relative;
  margin: 0;
  padding: 0;
}
.all-service{
  position: absolute;
  top: 36%;
  left: 1%;
}
.title-service{
 text-align: center;
 font-size: 41px;
 color: white;
 padding: 45px 0;
 text-transform: uppercase;
 position: absolute;
 top: 0;
 left: 50%;
 font-family: 'Roboto', sans-serif;
 transform: translateX(-49%);
}
.title-service:after{
  width: 177px;
  height: 1px;
  content: "";
  background: white;
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translateX(-49%);
}
.pic-service{
  text-align: center;
}

.text-service{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 27px;
  text-align: justify;
  padding: 0 39px;
}

.service img{
  width: 16%;
}

@media(max-width: 991px){
    .service img {width: 19%;}
}
@media(max-width: 845px){
    #particles-js {height: 720px;}
    .all-service {top: 31%;}
    .service img {width: 22%;}
}
@media(max-width: 767px){
    .service img {width: 12%;}
    #particles-js {height: 917px;}
    .all-service {top: 22%;}
    .text-service{margin-bottom: 29px;}
}
@media(max-width: 487px){
    #particles-js {height: 1075px;}
    .service img {width: 15%;}
    .all-service {top: 20%;}
}
@media(max-width: 371px){
    all-service {top: 16%;}
    .service img {width: 17%;}
      #particles-js {height: 1105px;}
}
@media(max-width: 341px){
      #particles-js {height: 1179px;}
}
@media(max-width: 305px){
    .title-service{top:2%; font-size: 39px;}
      #particles-js {height: 1328px;}
      .service img {width: 21%;}
      .all-service {top: 16%;}
}
@media(max-width: 292px){
    .title-service{top:2%; font-size: 38px;}
    #particles-js {height: 1362px;}
}
































/* Cam kết  */

.commitment{
    height: 400px;
    margin-top: 46px;
}
.all-commitment{
    margin-top: 48px;
}
.title-commitment{
    text-align: center;
    font-size: 41px;
    text-transform: uppercase;
    padding-bottom: 39px;
    position: relative;
}
.title-commitment:before{
    width: 179px;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    transform: translateX(-50%);
}

.icon-commitment{
    text-align: center;
}
.icon-commitment img{
    width: 25%;
}
.slogan-commitment{
    text-align: center;
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.text-commitment{
    padding: 0 52px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 14px;
}


@media(max-width: 991px){
    .text-commitment{padding: 0 3px;}
}
@media(max-width: 767px){
    .commitment{height: 899px;}
    .icon-commitment{width: 44%;margin: 0 auto;}
    .text-commitment{text-align: center;}
}

/* Logo */

img{
    max-width: 100%;
}
.title-partner{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    height: 271px;
    padding-top: 73px;
}
.title-partner:after{
    content: '';
    width: 154px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-49%);
}
.all-partner{
    background: url(../IMG/partner.png) center fixed no-repeat;
    height: 803px;
    background-size: cover;
    position: relative;
}
.all-partner:before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background:rgb(0, 0, 0, 0.7);
}

.partner{
    position: relative;
}

.partners{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo-partner{
    padding: 0 33px;

}

.text-partner{
    color: #fff;
    position: absolute;
    top: 168%;
    left: 6%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@media(max-width: 991px){
    .logo-partner{padding: 0 16px;}
}
@media(max-width: 767px){
    .logo-partner{padding: 0 7px;}
}

.footer{
    background: #000000;
    height: 357px;
}
.address{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 80px;
    padding-left: 102px;
}
.social{
    margin-top: 12px;
    padding-left: 140px;
}
.social img{
    width: 12%;
    padding: 0 3px;
}
.text-footer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 22px;
}
@media (max-width: 484px){
    .address{padding-left: 0px;}
}
